
/*
Hot Pink for Paul.
*/
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

/*
Cause all ng-cloak elements to be hidden until Angular finishes loading.
http://docs.angularjs.org/api/ng.directive:ngCloak
*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
{
  display: none !important;
}

/*
The navbar-fixed-top requires us to push the content down past the nav.
Recommended is margin-top the body, but some pages won't have the navbar.
Also, individual templates don't have access to the <body> without code.
I could have a <div> with margin-top around the main content of the page.
For now a humble <div class="fix-it-hack"> after the navbar.
*/
.nav-spacer { display:block; height: 60px; }

/*
I have a dropdown-menu (Test Sets) that I expected to have 3 to 5 items, 8 or so on the extreme end.
Turns out it was a bad assumption and some iterations have 15 or 18, which puts the extreme at 50 or so.
The correct solution would be to think up a different UI.
But for now I add a vertical scrollbar on the dropdown-menu. But don't pollute bootstrap styles by giving all dropdown-menu's the scrollbar.
*/
@media(min-width:768px) {
  .dropdown-menu.ps-scroll
  {
    max-height: 400px;
    max-width: 500px;
    overflow: auto;
  }
}

/*
Limit the width of some labels in the navbar to avoid navbar wrapping.
Note: this solution loses the .caret in the overflow area. Alternate solutions get klugey with keeping the caret on the baseline
*/
@media(min-width:768px) {
  .dropdown > .wide-label {
    max-width: 160px; /* width chosen so the 2 wide labels + textbox + small icon labels does not wrap at lower resolutions. */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media(min-width:1200px){ .dropdown > .wide-label { max-width: 250px; } }

/*
The form inside the Filter dropdown needs some help.
*/
.dropdown form {
  margin: 5px 10px;
}

/*
*/
.dropdown-header { white-space: nowrap; }

/*
Bootstrap 3 doesn't support the submenu.
This solution: http://firdaus.grandexa.com/2013/09/twitter-bootstrap-3-multilevel-dropdown-menu/
...is not cross-browser perfect, especially at lower screen resolutions.
But it gets the job done for the normal use case.
*/
.dropdown-submenu { position:relative; }
.dropdown-submenu > .dropdown-menu { top:0; left:100%; margin-top:-6px; margin-left:-1px; -webkit-border-radius:0 6px 6px 6px; -moz-border-radius:0 6px 6px 6px; border-radius:0 6px 6px 6px; }
.dropdown-submenu > a:after { display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px; }
.dropdown-submenu:hover > a:after{ border-left-color:#555; }
.dropdown-submenu .pull-left{ float:none; }
.dropdown-submenu.pull-left > .dropdown-menu { left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

/*
Sidebar area
- the CSS class .show-tc-sidebar indicates the users preference to show it or not
*/
#tc-sidebar { display: none; }
@media(min-width:992px) {

  /*
  Hidden by default. To show it we need a) the screen is wide enough and b) this special class is added as a user option.
  */
  .show-tc-sidebar #tc-sidebar { display: block; }

  #tc-sidebar { position: fixed; top: 60px; left: 10px; bottom: 10px; width: 250px; }
  #tc-sidebar .well { height: 100%; }
}
@media(min-width: 1200px){
  #tc-sidebar { width: 345px; }
}

/*
The Test Case Content area
*/
#tc-content { padding: 0 10px;}
@media(min-width: 992px) { .show-tc-sidebar #tc-content { margin-left: 270px; } }
@media(min-width: 1200px) { .show-tc-sidebar #tc-content { margin-left: 365px; } }

/*
The progress bar on for loading test cases.
*/
.static-progres {
  position: fixed;
  width: 300px; left: 50%; margin-left: -150px; /* center */
  top: 50px;
  z-index: 5;
}
.static-progres .panel {
  /* TODO use bootstrap mixin when we move to less */
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2);
  -moz-box-shadow:    0px 5px 15px 0px rgba(0,0,0,0.2);
  box-shadow:         0px 5px 15px 0px rgba(0,0,0,0.2);
}







