<!--
  TOP NAVBAR
-->

<nav class="nav navbar-default navbar-fixed-top" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">QARally</a>
  </div>

  <div class="collapse navbar-collapse" id="header-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle wide-label" data-toggle="dropdown">
          <span>{{currentWpi.label}}</span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li role="presentation" class="dropdown-header">
            Select one WPI to work on.
          </li>
          <li ng-repeat="w in wpiList | psToArray | filter:wpiIsValid | orderBy:'label'">
            <a ng-click="setCurrentWpi(w.id)" href="javascript:void(0);">
              <span class="glyphicon" ng-class="{'glyphicon-ok': wpiCurrentId == w.id}"></span>
              {{w.label}}
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a ng-click="openManageWpiForm()" href="javascript:void(0);">
              <span class="glyphicon"></span>
              Manage...
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle wide-label" data-toggle="dropdown">
          {{currentWpi.testSets[currentWpi.testSetRef].name}} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu ps-scroll">
          <li role="presentation" class="dropdown-header">
            Select one test set to work on.
          </li>
          <li ng-repeat="ts in currentWpi.testSets | psToArray | orderBy:'name'">
            <a ng-click="setCurrentTestSet(ts._ref)" href="javascript:void(0);">
              <span class="glyphicon" ng-class="{'glyphicon-ok': currentWpi.testSetRef == ts._ref}"></span>
              TS1234 {{ts.name}}
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a ps-noprop-click="refreshTestSets()" href="javascript:void(0);">
              <span class="glyphicon"></span>
              Refresh
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-filter" style="color:{{filterColor}}"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">

          <li role="presentation" class="dropdown-header">
            Showing {{testSetDetails.testCases.length-filteredCount}} of {{testSetDetails.testCases.length}} TCs.
          </li>
          <li class="divider"></li>

          <li>
            <form id="filterForm">
              <label>
                TC Name contains: <br/>
                <input type="text" placeholder="Search" ng-model="currentWpi.filter.nameContains" />
              </label>
            </form>
          </li>
          <li class="divider"></li>
          <li class="dropdown-submenu">
            <a href="javascript:void(0);" class="dropdown-toggle">
              Work Products
            </a>
            <ul class="dropdown-menu ps-scroll">
              <li>
                <a href="javascript:void(0);" ps-noprop-click="toggleAllWorkProductFilters(true)">
                  Filter All
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" ps-noprop-click="toggleAllWorkProductFilters(false)">
                  Show All
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="javascript:void(0);" ps-noprop-click="toggleFilterTestCasesWithoutWorkProduct()">
                  <span class="glyphicon" ng-class="{'glyphicon-ok': !currentWpi.filter.withoutWorkProduct}"></span>
                  Show items without a Work Product
                </a>
              </li>
              <li class="divider"></li>
              <li ng-repeat="wp in testSetDetails.workProducts | psToArray | orderBy:'name'">
                <a href="javascript:void(0);" ps-noprop-click="toggleWorkProductFilter(wp._ref)">
                  <span class="glyphicon" ng-class="{'glyphicon-ok': !currentWpi.filter.workProducts[wp._ref]}"></span>
                  {{wp.FormattedID}} {{wp.Name}}
                </a>
              </li>
              <li>
                <a ng-if="getLength(testSetDetails.workProducts) === 0">There aren't any...</a>
              </li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a href="javascript:void(0);" class="dropdown-toggle">
              Test Folders
            </a>
            <ul class="dropdown-menu ps-scroll">
              <li>
                <a href="javascript:void(0);" ps-noprop-click="toggleAllTestFolderFilters(true)">
                  Filter All
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" ps-noprop-click="toggleAllTestFolderFilters(false)">
                  Show All
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="javascript:void(0);" ps-noprop-click="toggleFilterTestCasesWithoutTestFolder()">
                  <span class="glyphicon" ng-class="{'glyphicon-ok': !currentWpi.filter.withoutTestFolder }"></span>
                  Show items not in a Test Folder
                </a>
              </li>
              <li class="divider"></li>
              <li ng-repeat="tf in testSetDetails.testFolders | psToArray | orderBy:'name'">
                <a href="javascript:void(0);" ps-noprop-click="toggleTestFolderFilter(tf._ref)">
                  <span class="glyphicon" ng-class="{'glyphicon-ok': !currentWpi.filter.testFolders[tf._ref]}"></span>
                  {{tf.FormattedID}} {{tf.Name}}
                </a>
              </li>
              <li>
                <a ng-if="getLength(testSetDetails.testFolders) === 0">There aren't any...</a>
              </li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a href="javascript:void(0);" class="dropdown-toggle">
              Status Filters
            </a>
            <ul class="dropdown-menu ps-scroll">
              <li>
                <a href="javascript:void(0);">
                  TODO: status filters will be added after Test Result support is in.
                </a>
              </li>
            </ul>
          </li>
          <li class="divider"></li>
          <li>
            <a href="javascript:void(0);" ps-noprop-click="clearFilters()">
              Clear Filters
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" accesskey="b" placeholder="Build Number (alt-b)" ng-model="currentWpi.buildNumber">
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-cog"></span> <b class="caret"></b>
          <!-- TODO why is the text on this button flush with the right edge of the button? There should be some space. I am hacking in these spaces... :( -->
          &nbsp;&nbsp;
        </a>
        <ul class="dropdown-menu">
          <li role="presentation" class="dropdown-header">
            Options:
          </li>
          <li>            
            <a href="javascript:void(0);" ps-noprop-click="settings.showTcSidebar = settings.showTcSidebar ? undefined : true;">
              <span class="glyphicon" ng-class="{'glyphicon-ok': settings.showTcSidebar }"></span>
              Show sidebar
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" ps-noprop-click="">
              <span class="glyphicon" ng-class="{'glyphicon-ok': false}"></span>
              Single TC view
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" ps-noprop-click="settings.closedIntroAlert = settings.closedIntroAlert ? undefined : true;">
              <span class="glyphicon" ng-class="{'glyphicon-ok': !settings.closedIntroAlert}"></span>
              Show the Noob's intro bubble
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/coverage/index.html" target="_blank">
              Code Coverage Report
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="nav-spacer"></div>

<!--
  TEST CASE LOADING BAR
-->

<div class="static-progres" ng-show="testCaseLoadingProgress && testCaseLoadingProgress < 100">
  <div class="panel panel-default text-center">
    <div class="panel-body">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
          <span class="sr-only">3 of 50</span>
        </div>
      </div>
      <p>Loading Test Cases</p>
    </div>
  </div>
</div>

<div ng-class="{
  'show-tc-sidebar': settings.showTcSidebar
  }">

  <!--
    NAVIGATION SIDEBAR
  -->

  <div id="tc-sidebar">
    <div class="well">
      <p>
        <small>
          I have plans for this area. Nothing here yet, though.
        </small>
      </p>
      <p>
        <small>
          The rest of the content should work around it when it's visible or hidden. It should also adjust in size, responsive to the size of the window. It will eventually hide when the window is small.
        </small>
      </p>
      <p>
        <small>
          No mandatory content will go here (that you can't use the app without). It is intended to contain overview or summary info, notifications and navigation helpers. It is optional and may be shown as a user option.
        </small>
      </p>
    </div>
  </div>

  <!--
    DETAIL AREA
  -->

  <div id="tc-content">

    <!--
      Introduction alert
    -->

    <div class="alert alert-info alert-dismissable" ng-if="!settings.closedIntroAlert">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="settings.closedIntroAlert = true">&times;</button>
      <h4>The noob's intro bubble.</h4>
      <ol>
        <li>You can return to the Manage WPI page under the <strong>{{currentWpi.label}}</strong> menu above.</li>
        <li>Change which WPI you are working on in the same menu above.</li>
        <li>Choose your Test Set in the second dropdown. Your choices will be remembered automatically.</li>
        <li>Filter the test sets in the <span class="glyphicon glyphicon-filter"></span> menu.</li>
        <li>Enter the build number in the space provided.</li>
        <li>Then test those cases.</li>
      </ol>
      <p>And quick... close this bubble or people will think you're some kind of a noob!</p>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <p>TODO: overview of the number of test cases in this test set will go somewhere around here.</p>
        <p>Possibly as a fixed header. It'll list the number of TC's that are untested, passed, failed, blocked, etc.</p>
        <p>It may also summarize the filtering options, so you know which folder/story you're working on.</p>
      </div>
    </div>
    
    <!--
      Test Case (repeated)
    -->

    <div class="panel panel-default"
      ng-repeat="tc in testSetDetails.testCases"
      ng-class="{
        'hide': tc._isFiltered
      }">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{tc.FormattedID}}
          {{tc.Name}}
        </h3>
      </div>
      <div class="panel-body">
        <p><small>{{tc.Description}}</small></p>
        <small>Some line about the last test result for this test case goes in here somewhere.</small>
        
        <div class="container-fluid" ng-if="tc.Notes || tc.Objective">
          <div class="col-sm-6" ng-if="tc.Notes">
            <h4>Notes</h4>
            <small ng-bind-html="tc.Notes"></small>
          </div>
          <div class="col-sm-6" ng-if="tc.Objective">
            <h4>Objective</h4>
            <small ng-bind-html="tc.Objective"></small>
          </div>
        </div>
        <div class="container-fluid">
          <div class="col-sm-6" ng-if="tc.PreConditions">
            <h4>Pre Conditions</h4>
            <small ng-bind-html="tc.PreConditions"></small>
          </div>
          <div class="col-sm-6" ng-if="tc.PostConditions">
            <h4>Post Conditions</h4>
            <small ng-bind-html="PostConditions"></small>
          </div>
        </div>
        <div class="container-fluid">
          <div class="col-sm-6" ng-if="tc.ValidationInput">
            <h4>Validation Input</h4>
            <small ng-bind-html="tc.ValidationInput"></small>
          </div>
          <div class="col-sm-6" ng-if="tc.ValidationExpectedResult">
            <h4>Expected Results</h4>
            <small ng-bind-html="tc.ValidationExpectedResult"></small>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
